{% load static %}

<div class="hat">
    <div class="main-icon">
        <a href="{% url 'mini_app:main_menu' %}" target="_self">
            <img src="{% static 'mini_app/icon/main-icon.svg' %}" alt="main-icon" class="main-icon-image">
        </a>
    </div>

    <div class="basket-icon">
        <a href="{% url 'order:basket' %}" >

            <img src="{% static 'mini_app/icon/basket.svg' %}" alt="basket-icon" class="basket-icon-image">
        </a>
    </div>

    <div class="channel-button">
        <a href="javascript:Telegram.WebApp.openTelegramLink('https://t.me/shoviki');" target="_self">
            <img src="{% static 'mini_app/icon/channle_button.png' %}" alt="channle-button" class="channel-button-image">
        </a>
    </div>
</div>

<script>
    window.API_URLS = {
        getToken: "{% url 'token:get' %}"
    };

    window.ERROR = {
        error_authorization: "{% url 'token:error_authorization' %}"
    }
  window.URL_SITE = {
    main_page: "{% url 'mini_app:main_menu' %}",
    basket: "{% url 'order:basket' %}",
    form_pay: "{% url 'order:form_pay' %}",
    product: "{% url 'mini_app:product_card' 0 %}"
  };
    window.URL_FASTAPI = {
        url: 'https://shovik.ru/api'
    };
    Telegram.WebApp.ready();
    const WebApp = window.Telegram.WebApp;

        window.INIT_DATA = {
        initData: WebApp.initData
<!--        initData: 'query_id=AAHdF6IQAAAAAN0XohDhrOr8&user=%7B%22id%22%3A279058397%2C%22first_name%22%3A%22John%22%2C%22last_name%22%3A%22Doe%22%2C%22username%22%3A%22johndoe%22%2C%22language_code%22%3A%22en%22%7D&auth_date=1653041776&hash=c501b8e0a6b38d4e9e9a82ae8816f0a9d8a9c9e0e6a9e6a9e6a9e6a9e6a9e6a9'-->
    };
</script>

