{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mini_app/css/index/hat.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/product_card/product_card.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/product_card/review.css' %}" />
    <script src="{% static 'mini_app/js/product_card/product_card.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>{{ product_card.name }}</title>
    <style>
        .product-swiper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}
.swiper-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination-bullet {
    background: black !important;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  /* ← Добавлено */

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
    </style>

    <script>
          document.addEventListener('DOMContentLoaded', function () {
    // Инициализация всех слайдеров с классом .product-swiper
    const swipers = document.querySelectorAll('.product-swiper');
    swipers.forEach(swiperEl => {
      new Swiper(swiperEl, {
        loop: true,
        pagination: {
          el: swiperEl.querySelector('.swiper-pagination'),
          clickable: true,
        },
        slidesPerView: 1,
        spaceBetween: 10,
      });
    });
  });
    </script>

</head>
<body>
    {% include 'mini_app/header.html' %}

    <div class="container">

<!--                    <div class="gallery">-->
<!--                        <div class="main-image"><img src="{{ product_card.images_product.0 }}" alt="{{product_card.name}}"></div>-->
<!--                <div class="thumbnails">-->
<!--                    {% for im in  product_card.images_product %}-->
<!--                        <div class="thumbnail {% if forloop.first %} active {% endif %}"><img src="{{ im }}" alt="{{product_card.name}}"></div>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
            <div class="swiper product-swiper">
            <div class="swiper-wrapper">
                {% for image in product_card.images_product %}
                <div class="swiper-slide">
                        <img src="{{ image }}" alt="{{ product.name }}" class="product-image">
                </div>
                {% endfor %}
            </div>
            <!-- Пагинация и навигация -->
            <div class="swiper-pagination"></div>
            </div>

        <div class="product-main">
            <div class="product-info">
                <h1>{{ product_card.name }}</h1>
                <div class="price-block">
                    <div class="price">{{ product_card.price }} ₽</div>
                    <input type="hidden" class="id_product" value="{{ product_card.id }}" />
                    <button id="button{{ product_card.id }}" class="buy-btn">Добавить в корзину</button>
                </div>
                <a><b>Рабочая площадь, m²</b></a>
                <div class="sizes">
                    {% for other_product in product_card.group_product %}
                        {% if other_product.id == product_card.id %}
                            <div class="size-btn selected no-link-style">{{ other_product.working_area }}</div>
                        {% else %}
                    <div class="size-btn no-link-style">
                        <a href="{% url 'mini_app:product_card' other_product.id %}">{{ other_product.working_area }}</a>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h2>Описание: </h2>
                    <div class="sizes">
                        <a>
                            {{ product_card.description }}
                        </a>
                    </div>

                <div class="details">
                    <table>
                        <tr>
                            <td><b>Название:</b></td>
                            <td>{{ product_card.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Бренд:</b></td>
                            <td>{{ product_card.brand }}</td>
                        </tr>
                        <tr>
                            <td><b>Страна производитель:</b></td>
                            <td>{{ product_card.country }}</td>
                        </tr>
                        <tr>
                            <td><b>Мощность охлаждения:</b></td>
                            <td>{{ product_card.cooling_power }}</td>
                        </tr>
                        <tr>
                            <td><b>Мощность обогрева:</b></td>
                            <td>{{ product_card.heating_power }}</td>
                        </tr>
                        <tr>
                            <td><b>Рабочая площадь m²:</b></td>
                            <td>{{ product_card.working_area }}</td>
                        </tr>
                        <tr>
                            <td><b>Уровень шума:</b></td>
                            <td>{{ product_card.sound_level }}</td>
                        </tr>
                        <tr>
                            <td><b>Тип кондиционера:</b></td>
                            <td>{{ product_card.type_equipment }}</td>
                        </tr>
                           {% for parameter in product_card.parameter_product %}
                                {% for key, value in parameter.items %}
                                    <tr>
                                        <td><b>{{ key }}:</b></td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
<!--sdlfjsdlgjslgkj ##################################################################################################################;-->

        <div class="reviews-container">
    {% if product_card.review_product %}
        {% for review in product_card.review_product %}
            <div class="review-card">
                <div class="review-header">
                    <span class="review-author">{{ review.user_review_name }}</span>
<!--                    <span class="review-date">{{ review.created_at|date:"d.m.Y" }}</span>-->
                </div>

                <div class="stars">
                    {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                            <span class="star">★</span>
                        {% else %}
                            <span class="star empty-star">★</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="review-text">{{ review.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-reviews">Отзывов пока нет</div>
    {% endif %}

</div>
     <button class="add-review-btn" onclick="showReviewForm()">Оставить отзыв</button>
    </div>
<script>
    document.querySelectorAll('.size-btn').forEach(btn => {
    btn.addEventListener('click', function() {
        document.querySelectorAll('.size-btn').forEach(b => b.classList.remove('selected'));
        this.classList.add('selected');
    });
});

// Обработчик миниатюр
document.querySelectorAll('.thumbnail').forEach(thumb => {
    thumb.addEventListener('click', function() {
        const mainImg = document.querySelector('.main-image img');
        const newSrc = this.querySelector('img').src;
        mainImg.src = newSrc.replace('-thumb', '');

        document.querySelectorAll('.thumbnail').forEach(t => t.classList.remove('active'));
        this.classList.add('active');
    });
});
</script>
</body>
</html>