{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mini_app/css/index/hat.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/product_card/product_card.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/product_card/review.css' %}" />
    <script src="{% static 'mini_app/js/product_card/product_card.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

    <title>{{ product_card.name }}</title>

</head>
<body>
    {% include 'mini_app/header.html' %}

    <div class="container">
                    <div class="gallery">
                        <div class="main-image"><img src="{{ product_card.images_product.0 }}" alt="{{product_card.name}}"></div>
                <div class="thumbnails">
                    {% for im in  product_card.images_product %}
                        <div class="thumbnail"><img src="{{ im }}" alt="{{product_card.name}}"></div>
                    {% endfor %}
                </div>
            </div>
        <div class="product-main">
            <div class="product-info">
                <h1>{{ product_card.name }}</h1>
                <div class="price-block">
                    <div class="price">{{ product_card.price }} ₽</div>
                    <input type="hidden" class="id_product" value="{{ product_card.id }}" />
                    <button id="button{{ product_card.id }}" class="buy-btn">Добавить в корзину</button>
                </div>

                <div class="sizes">
                    {% for other_product in product_card.group_product %}
                        {% if other_product.id == product_card.id %}
                            <div class="size-btn selected no-link-style">{{ other_product.working_area }}</div>
                        {% else %}
                    <div class="size-btn no-link-style">
                        <a href="{% url 'mini_app:product_card' other_product.id %}">{{ other_product.working_area }}</a>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h2>Описание: </h2>
                    <div class="sizes">
                        <a>
                            {{ product_card.description }}
                        </a>
                    </div>

                <div class="details">
                    <table>
                        <tr>
                            <td><b>Название:</b></td>
                            <td>{{ product_card.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Бренд:</b></td>
                            <td>{{ product_card.brand }}</td>
                        </tr>
                        <tr>
                            <td><b>Страна производитель:</b></td>
                            <td>{{ product_card.country }}</td>
                        </tr>
                        <tr>
                            <td><b>Мощность охлаждения:</b></td>
                            <td>{{ product_card.cooling_power }}</td>
                        </tr>
                        <tr>
                            <td><b>Мощность обогрева:</b></td>
                            <td>{{ product_card.heating_power }}</td>
                        </tr>
                        <tr>
                            <td><b>Рабочая площадь:</b></td>
                            <td>{{ product_card.working_area }}</td>
                        </tr>
                        <tr>
                            <td><b>Уровень шума:</b></td>
                            <td>{{ product_card.sound_level }}</td>
                        </tr>
                        <tr>
                            <td><b>Тип кондиционера:</b></td>
                            <td>{{ product_card.type_equipment }}</td>
                        </tr>
                           {% for parameter in product_card.parameter_product %}
                                {% for key, value in parameter.items %}
                                    <tr>
                                        <td><b>{{ key }}:</b></td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
<!--sdlfjsdlgjslgkj ##################################################################################################################;-->

        <div class="reviews-container">
    {% if product_card.review_product %}
        {% for review in product_card.review_product %}
            <div class="review-card">
                <div class="review-header">
                    <span class="review-author">{{ review.user_review_name }}</span>
<!--                    <span class="review-date">{{ review.created_at|date:"d.m.Y" }}</span>-->
                </div>

                <div class="stars">
                    {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                            <span class="star">★</span>
                        {% else %}
                            <span class="star empty-star">★</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="review-text">{{ review.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-reviews">Отзывов пока нет</div>
    {% endif %}

</div>
     <button class="add-review-btn" onclick="showReviewForm()">Оставить отзыв</button>
    </div>
<script>
    document.querySelectorAll('.size-btn').forEach(btn => {
    btn.addEventListener('click', function() {
        document.querySelectorAll('.size-btn').forEach(b => b.classList.remove('selected'));
        this.classList.add('selected');
    });
});

// Обработчик миниатюр
document.querySelectorAll('.thumbnail').forEach(thumb => {
    thumb.addEventListener('click', function() {
        const mainImg = document.querySelector('.main-image img');
        const newSrc = this.querySelector('img').src;
        mainImg.src = newSrc.replace('-thumb', '');

        document.querySelectorAll('.thumbnail').forEach(t => t.classList.remove('active'));
        this.classList.add('active');
    });
});
</script>
</body>
</html>