.hat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    z-index: 1000;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.main-icon {
    position: absolute;
    left: 5px;
}

.main-icon-image {
    width: 35vw;
    max-width: 300px;
    min-width 100px;
    height: auto;
}


.basket-icon {
    position: absolute;
    left: 54vw;
}

.basket-icon-image {
    width: 10vw;
    max-width: 300px;
    min-width 100px;
    height: auto;
}

.channel-button {
    position: absolute;
    top: 6px;
    left: 65vw;
}

.channel-button-image {
    width: 40vw;
    max-width: 300px;
    min-width 100px;
    height: auto;
}