{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOVIK STORE Bot</title>
    <link rel="stylesheet" href="{% static 'mini_app/css/index/index.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/index/search.css' %}" />
    <link rel="stylesheet" href="{% static 'mini_app/css/index/button_basket.css' %}" />
    <script src="{% static 'mini_app/js/index/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</head>
<body>

    <div class="search-container">
        <div class="search-box">
            <input type="text"
                   class="search-input"
                   placeholder="Введите поисковый запрос..."
                   id="searchInput">
            <button class="search-btn" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
            <div class="search-results" id="searchResults"></div>
        </div>
    </div>

    <div class="header">
        <h1>SHOVIK STORE Bot</h1>
        <p>Кондиционеры · Комплектующее</p>
    </div>

    <div class="products-grid" id="productsContainer"></div>



    <div class="products-grid" id="productsContainer2">
        {% for product in object_list %}
        <div class="product-card">
            <img src="https://previews.dropbox.com/p/thumb/ACmCP0sVC7M6tQ9xBIZe2Y1NnmQAcecsmPC4EqNW0NLTyk_AO6K3c5uphQGTr7FPzP1UCeiEF3lVSmDeMqdgzahchfQyQyThr1ukdk9NYk7q41jETM-T4bT9nIIjoG3KFXPwATauh7dsMpYKrWOFJwHQX_5iBag8fFrsFl2aF_gRzWhmS7YDXCTvQF7AKsvcCC2wT9MVRtjjjTkdV1sCVSPNKoB-US2AnMhsN-rdCKOxCMC_qXl2Fknw6C6UbjEfHijpvt8eIZyCcUlFvkl0hIkqKws5-2TpzNVr0CpuwW-ampjJHEYVSOiUX3Q1xqCtgvnSJL2iYlzzxQ103BHIk4RY/p.jpeg" alt="City" class="product-image">
            <h3 class="product-title">{{ product.name}}</h3>
            <div class="brand">{{ product.brand.brand }}</div>
            <div class="price-container">

                <span class="new-price">{{ product.price }} руб.</span>
            </div>
            <div class="stock-status">В наличии</div>
            <!-- class="id_product" здесь добавляется значение ID товара  -->
            <input type="hidden" class="id_product" value="{{ product.id }}" />
            <button id="button{{ product.id }}" class="add-to-cart" onclick="onclick">В корзину</button>
        </div>
        {% endfor %}
    </div>



</body>
</html>